/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
  }
  
  /* Main Styles */
  main {
    padding: 40px;
  }
  
  #hero {
    text-align: center;
  }
  
  #hero img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  #about {
    margin-top: 40px;
  }
  
  #about h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #about p {
    margin-bottom: 20px;
  }
  
  #skills {
    margin-top: 40px;
  }
  
  #skills h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  #skills li {
    background-color: #f8f8f8;
    color: #333;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px;
  }
  
  #experience {
    margin-top: 40px;
  }
  
  #experience h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #experience .job {
    margin-bottom: 30px;
  }
  
  #experience .job h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  #experience .job p {
    margin-bottom: 10px;
  }

  
  /* Footer Styles */
  footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  